
<div fxLayoutAlign="center center" fxFlexFill class="main-div" >
  <mat-card fxFlex="25%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="70%" fxFlex.xs="100%">
  <mat-toolbar class="toolbar-login" color="primary">Registration</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      
      <mat-form-field appearance="fill">
        <mat-label><mat-icon>person</mat-icon>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="fill" >
        <mat-label><mat-icon>lock</mat-icon>Password</mat-label>
        <input type="password" matInput [type]="hide ? 'password' : 'text'">
        <button class="hide" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button  class="registration-button" mat-raised-button color="primary" type="submit">Registration</button>
 
    <!-- Register buttons -->
    <div class="text-center pt-3">
      <p>or check <a href="">without registration</a> </p> 
      
      
    </div>
    </form>
  
  </mat-card>
  </div>
  
  <!-- class="example-full-width" appearance="fill" -->